* {
    padding: 0px;
    margin: 0px;
}

html, body {
    height: 100%;
    overflow-x: hidden;
}

/* navbar */

/* animation dropdown*/

.displayDropdown {
    animation-name: example;
    animation-duration: 1s;
}

.removeDisplay {
    animation-name: example2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes example {
    from {
        right: -500px;
    }
    to {
        right: 0px;
    }
}

@keyframes example2 {
    from {
        right: 0px;
    }
    to {
        right: -500px;
    }
}

/* animation dropdown download */

.displayDropdownDownload {
    right: 0px;
    position: absolute;
    animation-name: dropdownDownloadAnimationOne;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.removeDisplayDropdownDownload {
    position: absolute;
    right: -500px;
    animation-name: dropdownDownloadAnimationTwo;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

/* animasi muncul */

@keyframes dropdownDownloadAnimationOne {
    from {
        right: 0px;
    }
    to {
        right: -500px;
    }
}

/* animasi menghilang */

@keyframes dropdownDownloadAnimationTwo {
    from {
        right: -500px;
    }
    to {
        right: 0px;
    }
}

/* navbar css style*/

.iconHumberger {
    background-color: red;
    padding: 10px 30px;
    border-radius: 3px;
}

.addNavbarStyle {
    padding-right: 5%;
    padding-left: 5%;
    height: 60px;
    background-color: transparent;
}

/* dropdown style */

a {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: greenyellow;
}

#dropdownMenu {
    margin-top: 60px;
    position: fixed;
    overflow-x: hidden;
    height: 100%;
    width: 200px;
    background-color: red;
    right: 0px;
    z-index: 1;
}

.itemDropdown {
    background-color: blue;
    padding: 15px 5px;
    width: 90%;
    margin: 5px auto;
    border-radius: 5px;
}

.itemDropdown:hover {
    cursor: pointer;
    color: white;
    background-color: #ff23ff;
}

.iconItemDropdown {
    padding: 10px;
    background-color: tomato;
    margin-right: 5px;
    border-radius: 3px;
}

.linkItemDropdown {
    color: white;
    text-decoration: none;
    padding-bottom: 10px;
    padding-top: 10px;
}

.dropdownDownloadItem {
    background-color: yellowgreen;
    margin-top: 10px;
    margin-right: 5px;
    border-radius: 3px;
    padding: 5px 5px;
}

.iconItemDropdownDownload {
    padding: 7px;
    background-color: tomato;
    margin-right: 5px;
    border-radius: 3px;
}

.boxImageInDropdown {
    bottom: 60px;
    height: 100px;
    width: 100%;
    background-color: blue;
    position: absolute;
}

/* Content */

.box-content {
    margin-top: 50px;
    height: 100%;
    width: 1200px;
}

.box {
    padding: 0px 10px;
}

.card {
    border-radius: 20px;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 32px;
    margin: 5px 0;
    margin-right: 20px;
}

.hrOne {
    display: inline-block;
    width: 40px;
    border: 1px solid green;
    vertical-align: middle;
}

.hrTwo {
    display: inline-block;
    width: 20px;
    border: 1px solid green;
    vertical-align: middle;
}

.hrTree {
    width: 500px;
    padding: 0px;
    margin: 0px;
    border: 1px solid green;
}

.titleOne {
    text-align: left;
    display: inline-block;
}

.titleTwo {
    text-align: center;
}

.titleTree {
    text-align: right;
    display: inline-block;
    width: 90%;
}

.boxTitle {
    margin: 0 auto;
    width: 500px;
}

.boxChangeStyle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px
}

.boxIconOne {
    flex: 1;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.boxRowContent:hover {
    color: white;
    background-color: #108dd6;
    transition: all 1s ease;
}

.boxRowContent {
    width: 80%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, .1);
    flex-direction: column;
    border: 1px solid #108dd6;
    border-radius: 10px;
}

.boxContentVideo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

@media (max-width: 575.98px) {
    /* navbar */
    .iconHumberger {
        padding: 5px 15px;
    }
    #dropdownMenu {
        margin-top: 80px;
    }
    .itemDropdown {
        padding: 10px 5px;
    }
    /* content */
    .boxRowContent {
        margin-top: 40px;
        margin-bottom: 40px;
        width: 60%;
        -webkit-transition: all 1s linear;
        -moz-transition: all 1s linear;
        -o-transition: all 1s linear;
        transition: all 1s linear;
    }
    .boxContentFull {
        margin-bottom: 80px;
    }
    .box-content {
        margin-top: 200px;
        width: 100%;
    }
    .hrOne {
        width: 30px;
    }
    .hrTwo {
        width: 8%;
    }
    .hrTree {
        width: 85%;
        margin: 0 auto;
    }
    .titleOne {
        margin-bottom: 0px;
    }
    .titleTwo {
        font-size: 30px;
        margin-bottom: 0px;
    }
    .titleTree {
        width: 85%;
        padding-top: 0px;
    }
    .boxTitle {
        width: 100%;
    }
    .addStyleButton {
        width: 200px;
        margin: auto;
    }
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {
    /* navbar */
    .iconHumberger {
        padding: 7px 18px;
    }
    #dropdownMenu {
        margin-top: 80px;
    }
    .itemDropdown {
        padding: 10px 5px;
    }
    /* content */
    .boxRowContent {
        margin-top: 40px;
        margin-bottom: 40px;
        width: 60%;
        -webkit-transition: all 1s linear;
        -moz-transition: all 1s linear;
        -o-transition: all 1s linear;
        transition: all 1s linear;
    }
    .boxContentFull {
        margin-bottom: 80px;
    }
    .box-content {
        margin-top: 200px;
        width: 100%;
    }
    .hrOne {
        width: 30px;
        margin-left: 35px;
    }
    .hrTwo {
        width: 30px;
    }
    .hrTree {
        width: 85%;
        margin: 0 auto;
    }
    .titleTwo {
        font-size: 30px;
    }
    .titleTree {
        width: 85%;
    }
    .boxTitle {
        width: 70%;
    }
    .addStyleButton {
        width: 200px;
        margin: auto;
    }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {
    /* navbar */
    #dropdownMenu {
        margin-top: 70px;
    }
    /* content */
    .boxRowContent {
        margin-top: 40px;
        margin-bottom: 40px;
        width: 60%;
        -webkit-transition: all 1s linear;
        -moz-transition: all 1s linear;
        -o-transition: all 1s linear;
        transition: all 1s linear;
    }
    .boxContentFull {
        margin-bottom: 80px;
    }
    .box-content {
        margin-top: 70px;
        width: 100%;
    }
    .hrOne {
        width: 30px;
        margin-left: 40px;
    }
    .hrTwo {
        width: 30px;
    }
    .hrTree {
        width: 75%;
        margin: 0 auto;
    }
    .titleTwo {
        font-size: 30px;
    }
    .titleTree {
        width: 85%;
    }
    .boxTitle {
        width: 50%;
    }
    .addStyleButton {
        width: 200px;
        margin: auto;
    }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199.98px) {}